@import './normalize.css';
@import 'src/app/styles/variables/global';
@import 'src/app/styles/themes/normal';
@import 'src/app/styles/themes/dark';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  will-change: background-color, color;
  transition: var(--default-animte);

}

* {
  box-sizing: border-box;
}


.page {
  &-content {
    flex-grow: 1;
    padding: var(--padding-default);
  }

  &-wrapper {
    display: flex;
  }
}