@import './normalize';
@import 'src/app/styles/variables/global';
@import 'src/app/styles/themes/normal';
@import 'src/app/styles/themes/dark';

.app {
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    transition: var(--default-animte);
    will-change: background-color, color;
}

* {
    box-sizing: border-box;
}


.page {
    &-content {
        flex-grow: 1;
        padding: var(--padding-default);
    }

    &-wrapper {
        flex-grow: 1;
        display: flex;
    }
}
