.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    transition: width var(--default-animte);
    will-change: width;
}



.switchers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
    padding:var(--padding-default);
    gap: 20px;
    position: relative;

}

.collapseBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:  0;
    transform: translateX(100%);
    bottom:0;
}

.lang {
    color: var(--inverted-secondary-color)
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.navigation__icons{
    display: block;
}

.link{
    display: flex;
    align-items: center;
    gap:5px;

    &__text{
        width: auto;
        height: auto;
        opacity: 1;
        transition: 0.2s linear;
        transition-delay:0.1s;
    }

    &__icon{
        fill:var(--inverted-primary-color)
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .navigation{
        justify-content: center;

    }

    .link{
        justify-content: center;
        gap:0
    }

    .link__text{
        overflow: hidden;
        width: 0;
        height: 0;
        opacity: 0;
    }
}
