.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    transition: width var(--default-animte);
    will-change: width;
}



.switchers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
    padding:var(--padding-default);
    gap: 20px;
    position: relative;

}


.collapseBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:  0;
    transform: translateX(100%);
    bottom:var(--padding-default);


}

.lang {
    color: var(--inverted-secondary-color)
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.navigation__icons{
    display: block;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .navigation{
        justify-content: center;

    }

}
