.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -60px;
    padding:0 var(---padding-default);
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    gap:10px;
}
